<!doctype html>
<html>
	<head>
		<title>Sports Project</title>
		<meta charset="utf-8">

		<link rel="stylesheet" type="text/css" href="stylesheets/layout.css">

		<script type="text/javascript" src="javascripts/jquery.js"></script>
		<script type="text/javascript" src="javascripts/layout.js"></script>
		<script type='text/javascript' src='/js/jquery.mousewheel.min.js'></script>
		<script src="/socket.io/socket.io.js"></script>
		
	</head>


	<body>

		<div id="meow"></div>
		<%- body %>


	</body>



</html>
